
body {
    font-family: 'Lato', sans-serif; /*Google Font*/
    font-size: 1.2rem;
    background: #000;
    /*color: #bba3d0;*/
    /*color: #afeeee;*/
    color: #ffa500;
    text-shadow: 1px 1px 1px #afeeee;
    background: radial-gradient(transparent, rgba(0, 0, 0, 4.5)), url(/images/orangestar.jpg);
    background-size: cover, cover;
    background-attachment: fixed, fixed;
}

a {
    /*color: #0094ff;*/ /*blue*/
    color: #fff; /*white*/
}

    a:hover,
    a:focus {
        color: #D3D3D3; /*lightgrey*/
    }


.btn-primary {
    color: #ffa500;
    background-color: #ffa500;
    border-color: #fff;
}

    .btn-primary:hover {
        color: #000;
        background-color: #fff;
        border-color: #fff;
    }




/* FORM Start **************************/



.text-warning {
    float: right;
    text-shadow: unset;
    text-shadow: none;
    font-weight: 900;
    font-size: .70rem;
}

.text-danger {
    font-weight: 900;
    font-size: .70rem;
}

/* FORM END **************************/



/*@media screen and (min-width: 992px) {
    body {*/
/*background: #000 url('../images/md_jar.jpg') no-repeat center center;
        background-size: cover;*/
/*background: radial-gradient(transparent, rgba(0, 0, 0, 4.5)), url(/images/orangestar.jpg);
        background-size: cover, cover;
        background-attachment: fixed, fixed;*/
/*}
}*/




/* FOOTER START**************************/
footer {
    margin: 2rem 0;
    width: 100%;
    font-size: .70rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}
/* FOOTER END**************************/
