@page "{ID?}"
@model CompleteModel
@{
    ViewData["Title"] = "Complete";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Your egreeting was successfully sent!</p>

<p> Send another!</p>


<a href="/" class="btn btn-outline-light btn-block">Send another!</a>