@page
@*@model EnKindle.Model.Greetings*@
@using Microsoft.Extensions.Configuration;
@inject IConfiguration _myConfiguration
@model IndexModel
@{
    ViewBag.meta_title = "Home";
    ViewBag.theme = "Inspiration";
    ViewBag.dimension = "portrait";

    ViewBag.meta_message = "Inspirational E-Greeting - Let your friends know they are SUPERHEROS!";
    ViewBag.meta_description = "Inspire your friend right now";
    ViewBag.meta_image = "";
}
@*<div class="Message">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">*@
        <div class="card">
            <div class="card-title">
                @*  DELETE START BUTTON  *@
                <a href="/" class="btn btn-primary"> X </a>
                @*  DELETE BUTTON END  *@
                <h2>SEND INSPIRATION!</h2>
                <h3> Fill out the form and send</h3>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <partial name="_Form" model="new EnKindle.Model.Greetings()" />
                    <!-- PREVIEW/SUBMIT BUTTON START  -->
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-dark btn-block" value="Preview" />
                    </div>

                    <!-- PREVIEW/SUBMIT BUTTON END  -->
                </form>
                <!-- FORM End-->
            </div>
        </div>

    @*</div>
</div>*@


@*Music Section Start*@
@*<div data-video="h3OpppJvbSs"
     data-autoplay="1"
     data-loop="1"
     id="youtube-audio"
     class="youtube-audio">
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>*@
@*Music Section End*@



@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>}


@*RECAPTCHA API use the site key here
    put your password in safe place...
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
        $("form").submit(function (ev­e­nt) {
            alert("I am about to submit the form");
            var recaptcha = $("#g-recaptcha-response").val­­();
            if (recaptcha === "6Le5_S0UAAAAANukdP7UkKR2isiirPXw7DPcZwCb") {
                event.preventDefault();
                alert("Please check the recaptcha");
            }
        });
    </script>}*@


<script>
    $("form").submit(function (ev­­­e­nt) {

        var recaptcha = $("#g-recaptcha-response");

        if (recaptcha.val() === "") {
            event.preventDefault();
            alert("Please check the recaptcha")
        }</script>
